html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.nav-link {
    color: #139fae;
}
.section-header {
text-align: center;
font-size: 20px;
color: #139fae;
}


header {
   position: relative;
   overflow: hidden;
}

header ul {
    list-style: none;
}

.text {
    text-align: left;
    text-align: justify;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

 body { 
    background-image: url('back1.jpg');  
    background-repeat:no-repeat; 
    background-size: cover;
    background-position:center; 
    background-attachment:fixed; 
    height:100%; 
    width:100%;   
      }


#background {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url('tlo.jpg') no-repeat 50% 50%;
    background-size: cover;

    z-index: 10;

    opacity: 0.5;
}

#header-content {
    position: relative;
    z-index: 11;
    padding: 10px;
    text-align: center;

    margin: 50px;

    /* From https://css.glass */
background: rgba(255, 255, 255, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#header-content ul {
    list-style: none;
}

header > img {
    border: 10px solid #ccc;
}

a {
color: #000;
transition: 1s;
}

a:hover {
color: #0000cc;
}

.doswiadczenie span {
    border: 1px solid #2fe7f1;
    color: #37dce4;
    padding: 5px 10px;
    margin: 2px;
    display: inline-block;
    border-radius: 8px;
    font-size: 13px;
    }


    section {
        padding: 10px;
    }
    